
/*  CSS start index*/
body    {
    background: #BFBDB9; ;
    color: #000000 ;
font-family: Copperplate / Copperplate Gothic Light, sans-serif;

}
.hola{
 color: red;
}

div{
    text-align: center;
}


/*  CSS end of index*/






/*  CSS others*/


/*  CSS end others*/