* {
    margin:0; 
    padding:0; 
    border:0;
}

 html, body {
     width: auto;
     height: 100%;
     padding: 20px;
     font-family:Verdana, Geneva, sans-serif;
     background-color:rgb(219, 240, 240);
 }

 header, nav{
     position: relative;;
     background-color: grey;
     color: black;
     width:42%;
     height:35px;
     margin: 0px auto;
 }
  
header,section,footer,aside,article,nav{
    border-radius: 5px;
 
}