* {
    margin:0; 
    padding:0; 
    border:0;
}

 body {
     text-align: justify;
     width: auto;
     height: 100%;
     padding-left: 4%;
     padding-right: 4%;
     font-family:Verdana, Geneva, sans-serif;
     background-color:#FAD7A0;
 }

 form{
    position:relative;
    background-color: #f6b652;
    width:auto;
    margin: 0px auto;
    padding: 10px;
    padding-top:25px;
}

div{
    position:relative;
    background-color: #f6b652;
    width:auto;
    margin: 0px auto;
    padding: 15px;
    align-items: center;
}

img{
    text-align: center;
    align-items: center;
}

h2, h3{
    padding-top: 15px;
    padding-bottom: 15px;
}
  
header,section,footer,aside,article,nav, form, div{
    border-radius: 10px;
}

/*CSS de Irati*/
.int {
     display:block;
     margin:auto;
 }
 .parrafo{
    text-align: justify;
    font-style:italic; 
    line-height: 30pt;
    font-size: 12pt;
 }
 .titulo{
    margin:auto;
    text-align:center;
    font-style:italic;
 }
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

  li {
    float:left;
    padding-left: 8%;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111111;
  }